doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Git Web
    div#config(style='display:none')=JSON.stringify(config)
  body
    #app
    script(src=assets.vendor.js)
    script(src=assets.main.js)
    link(rel='stylesheet' href=assets.vendor.css type='text/css')
    link(rel='stylesheet' href=assets.main.css type='text/css')
